[Unit]
Description=optimal-buy-cbpro-buy
Wants=optimal-buy-cbpro-buy.timer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop optimal-buy-cbpro
ExecStartPre=-/usr/bin/docker rm optimal-buy-cbpro
ExecStartPre=/usr/bin/docker pull hongquanxie/optimal-buy-cbpro
ExecStart=/usr/bin/docker run --name optimal-buy-cbpro \
  -v /var/lib/optimal-buy-cbpro:/usr/src/app/state \
  hongquanxie/optimal-buy-cbpro \
  --db-engine sqlite:////usr/src/app/state/cbpro_history.db \
  --key myapikey \
  --b64secret mysecret \
  --passphrase mypassphrase \
  --mode buy

[Install]
WantedBy=optimal-buy-cbpro-buy.target
